{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body%}
    <div>
        <section class="jumbotron text-center">
            <div class="container">
                <h1>Simple Interactive Visualization of the Classic Iris Dataset</h1>
                <p class="lead text-muted">A simple example of how python can be used to create web pages that utilize
                    interactive visualizations. <br> (View source on <a href='https://github.com/aLeadPencil/sta141c'>GitHub</a>)
                </p>
                <p>
                    <a href="/iris/" class="btn btn-primary my-2">Continue</a>
                </p>
            </div>
        </section>
    </div>
{% endblock %}